<div class="pull-left">
  <div class='input-append'>
      <input id="crawlTag" placeholder="Search..."/>
      <button id="startCrawl" class='btn add-on' style="height:25px">
          <i class="icon-search"></i>
      </button>
  </div>
</div>