<% var sel = this.data.selected; %>
<ul class="nav nav-tabs">
  <li id="crawl" <%=sel === "crawl"?"class=\"active\"":""%>><a>Crawl</a></li>
  <li id="users" <%=sel === "users"?"class=\"active\"":""%>><a>Users</a></li>
</ul>