<div class="timeline">
  <canvas id="myCanvas" width="800" height="200"></canvas>
  <% 
  var index = 0;
  var c;
  for (c = 674; c > 60 && index < data.length; c -= 64) {
  %>
  <a
    style="position:absolute;top:80px;left:<%=c%>px;"
    data-toggle="popover"
    rel="tooltip"
    data-placement="bottom"
    data-original-title="<%=data[index].time %>:"
    data-content="<%=data[index].tweet.text %>"
    id="info_<%=index%>"
    class="popoverLink">
    <img id="<%=index%>"src="<%=data[index].user.image_url%>" width="32px" height="32px"/>
  </a>
    
  <% 
    index++;
  } %>
  
</div>