<% var cols = this.data.columns; %>
<% var searchValue = this.data.search || ""; %>

<tr>
  <th class="attrtitle">_key</th>
  <% _.each(cols, function(c) { %>
    <th class="attrtitle" id="attrtitle_<%=c.name%>"><%=c.name%></th>
  <%});%>
</tr>
<% _.each(this.data.models, function (d) { %>
  <tr id=<%=d.get("_key")%>>
    <td><%=d.get("_key")%></td>
    <% _.each(cols, function(c) { %>
      <td><%=d.get(c.name)%></td>
    <% }); %>
  </tr>
<% }) %>