<%
  var templ = new EJS({url: 'templates/usersTableView.ejs'});
%>
<div class="pull-left">
  <div class='input-append'>
      <input id="searchField" placeholder="Search..."/>
      <button id="startSearch" class='btn add-on' style="height:25px">
          <i class="icon-search"></i>
      </button>
  </div>
</div>

<table id="contentTable" class="table table-condensed table-bordered">
  <%=templ.render(this.data)%>
</table>